.access-denied {
  background-image: url(../images/access-denied-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 15px;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  // height: 100vh;
  overflow: auto;

  &__content {
    &__logo {
      max-width: 80%;
      margin: auto;
      margin-bottom: 15px;
    }

    &__image {
      max-width: 80%;
      margin: auto;
    }

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;

      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-top: 50px;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #4E7FFF;
      margin-bottom: 15px;
    }

    &__dear {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 7px;
    }

    &__description {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-align: justify;
      color: #000000;
    }

    &__action {
      display: flex;
      place-content: space-between;
      place-items: center;
      margin-top: 30px;

      .btn {
        display: flex;
        place-content: center;
        place-items: center;
        width: 49%;
        height: 40px;
        border-radius: 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}