.my-account {
  padding: 0;
  background-color: #fff;

  &__content {
    background-image: url(../images/my-account/my-account-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    min-height: 400px;

    &__nav {
      display: flex;
      place-content: flex-end;
      place-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      padding: 20px;
      gap: 8px;
      padding-bottom: 10px;
    }

    &__top {
      display: flex;
      place-content: flex-start;
      place-items: center;
      padding: 20px;
      padding-left: 40px;
      gap: 15px;

      &__avatar {
        max-width: 65px;
      }

      &__user-info {
        display: flex;
        place-content: space-between;
        width: 100%;
        place-items: center;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.5);

        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 14px;
          color: #FFFFFF;
          margin-bottom: 10px;
        }
      }
    }

    &__balance {
      background-image: url(../images/my-account/wallet-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 40px;
      padding: 12px 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #E7D3A5;
      display: flex;
      place-content: space-between;
      place-items: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;

      h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 14px;
        margin: 0;
      }
    }

    &__wallet {
      margin: 0 20px;
      padding: 10px;
      background: #FFFFFF;
      border-radius: 10px;


      &__top {
        display: flex;
        place-content: space-between;
        place-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }

      &__bottom {
        display: flex;
        place-content: space-between;
        place-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #000000;
        padding: 20px 0 15px 15px;

        &>div {
          display: flex;
          flex-direction: column;
          place-content: center;
          place-items: center;

          p {
            max-width: 70%;
            margin-bottom: 0;
          }
        }
      }
    }

    &__navbar {
      list-style: none;
      border-top: 7px solid #f2f2f2;
      padding: 0px 20px 20px;

      li {
        a {
          display: flex;
          place-items: center;
          place-content: space-between;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 14px;
          color: #000000;
          border-bottom: 1px solid #f1f1f1;
          padding-bottom: 5px;
          padding-top: 30px;

          &>div {
            display: flex;
            place-items: center;
            place-content: space-between;
            gap: 10px;

            .icon {
              min-width: 30px;
              text-align: center;
            }
          }

          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .my-account {
    padding: 0;
    background-color: #fff;
  
    &__content {
      background-image: url(../images/my-account/my-account-bg.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top;
      min-height: 400px;
  
      &__nav {
        display: flex;
        place-content: flex-end;
        place-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        padding: 20px;
        gap: 8px;
        padding-bottom: 10px;
      }
  
      &__top {
        display: flex;
        place-content: flex-start;
        place-items: center;
        padding: 20px;
        padding-left: 40px;
        gap: 15px;
  
        &__avatar {
          max-width: 65px;
        }
  
        &__user-info {
          display: flex;
          place-content: space-between;
          width: 100%;
          place-items: center;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
          color: rgba(255, 255, 255, 0.5);
  
          h4 {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 14px;
            color: #FFFFFF;
            margin-bottom: 10px;
          }
        }
      }
  
      &__balance {
        background-image: url(../images/my-account/wallet-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 40px;
        padding: 12px 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #E7D3A5;
        display: flex;
        place-content: space-between;
        place-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
  
        h4 {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 14px;
          margin: 0;
        }
      }
  
      &__wallet {
        margin: 0 20px;
        padding: 10px;
        background: #FFFFFF;
        border-radius: 10px;
  
  
        &__top {
          display: flex;
          place-content: space-between;
          place-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          padding-right: 10px;
        }
  
        &__bottom {
          display: flex;
          place-content: space-between;
          place-items: center;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          color: #000000;
          padding: 20px 0 15px 15px;
  
          &>div {
            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;
  
            p {
              max-width: 70%;
              margin-bottom: 0;
            }
          }
        }
      }
  
      &__navbar {
        list-style: none;
        border-top: 7px solid #f2f2f2;
        padding: 0px 20px 20px;
  
        li {
          a {
            display: flex;
            place-items: center;
            place-content: space-between;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #000000;
            border-bottom: 1px solid #f1f1f1;
            padding-bottom: 5px;
            padding-top: 30px;
  
            &>div {
              display: flex;
              place-items: center;
              place-content: space-between;
              gap: 8px;
  
              .icon {
                min-width: 30px;
                text-align: center;
              }
            }
  
            span {
              font-weight: 400;
              font-size: 10px;
              line-height: 14px;
              text-align: right;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}