.sponsors {
  background-color: #F2F2F2;
  min-height: 100vh;

  &__content {
    padding-top: 0px;

    .sponsors_items {
      background: #FFFFFF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      margin-bottom: 15px;
      display: flex;
      place-items: center;

      &__img {
        width: 100%;
        min-height: 180px;
        object-fit: cover;
        max-width: 65%;
      }

      &__content {
        text-align: center;
        width: 35%;

        &__img {
          margin-bottom: 10px;
          max-height: 47px;
        }

        &__title {
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #000000;
        }

        &__subtitle {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #000000;
        }

        &__more_info {
          font-style: normal;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #FFFFFF;
          border-radius: 5px;
          margin-top: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .sponsors {
    background-color: #F2F2F2;
    min-height: 100vh;

    &__content {
      padding-top: 0px;

      .sponsors_items {
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        display: flex;
        place-items: center;

        &__img {
          width: 100%;
          min-height: 180px;
          object-fit: cover;
          max-width: 60%;
        }

        &__content {
          text-align: center;
          width: 40%;

          &__img {
            margin-bottom: 10px;
          }

          &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #000000;
          }

          &__subtitle {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #000000;
          }

          &__more_info {
            font-style: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            border-radius: 5px;
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}