<div class="row deposit-amount">
  <!-- SELECT -->
  <div class="col-3 deposit-amount__item">
    <label class="deposit-amount__item__label">
      <div class="deposit-amount__item__label__title fw-bold">ERC 20</div>
      <input class="deposit-amount__item__label__checkbox" type="radio" name="network_option" checked="checked" />
      <span class="checkmark"></span>
    </label>
  </div>
  
  <div class="col-3 deposit-amount__item">
    <label class="deposit-amount__item__label">
      <div class="deposit-amount__item__label__title fw-bold">BEP 2</div>
      <input class="deposit-amount__item__label__checkbox" type="radio" name="network_option" />
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="col-3 deposit-amount__item">
    <label class="deposit-amount__item__label">
      <div class="deposit-amount__item__label__title fw-bold">TRC 20</div>
      <input class="deposit-amount__item__label__checkbox" type="radio" name="network_option" />
      <span class="checkmark"></span>
    </label>
  </div>
  <!-- END SELECT -->
</div>