<!-- Modal -->
<div
  class="modal fade alert"
  id="vipInfoModal"
  tabindex="-1"
  aria-labelledby="vipInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <h5 
          class="text-center mb-3"
          id="vipInfoModalLabel"
          data-i18n="vip_page.info_modal.title"
        ></h5>
        <div class="mb-2" data-i18n="vip_page.info_modal.subtitle"></div>
        <div class="mb-1" data-i18n="vip_page.info_modal.description1"></div>
        <div class="mb-1" data-i18n="vip_page.info_modal.description2"></div>
        <div class="mb-4" data-i18n="vip_page.info_modal.description3"></div>
        <div class="text-center">
          <button class="btn btn-primary w-100" data-bs-dismiss="modal" data-i18n="vip_page.info_modal.Confirm"></button>
        </div>
      </div>
    </div>
  </div>
</div>
