<div id="privilegeInfo">
  <div>
    <div class="privilege-info-items">
      <div class="privilege-info-items__header" data-i18n="vip_page.My_Privilege">My Privilege</div>
      <div class="privilege-info-items__content row">
        <div class="col-6 privilege-info-items__content__item">
          <div class="privilege-info-items__content__item__child">
            <div class="privilege-info-items__content__item__child__img">
              <img src="assets/images/vip/privilege/my-privilege-1.png" />
            </div>
            <div class="privilege-info-items__content__item__child__description">
              <div class="privilege-info-items__content__item__child__description__title">@@My_Privilege.key_1</div>
              <div class="privilege-info-items__content__item__child__description__info" data-i18n="vip_page.Daily_withdrawal_service_limit">
                Daily withdrawal service limit
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 privilege-info-items__content__item">
          <div class="privilege-info-items__content__item__child">
            <div class="privilege-info-items__content__item__child__img">
              <img src="assets/images/vip/privilege/my-privilege-2.png" />
            </div>
            <div class="privilege-info-items__content__item__child__description">
              <div class="privilege-info-items__content__item__child__description__title">@@My_Privilege.key_2</div>
              <div class="privilege-info-items__content__item__child__description__info" data-i18n="vip_page.Daily_withdrawal_service_limit">
                Daily withdrawal amount limit
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 privilege-info-items__content__item">
          <div class="privilege-info-items__content__item__child">
            <div class="privilege-info-items__content__item__child__img">
              <img src="assets/images/vip/privilege/my-privilege-3.png" />
            </div>
            <div class="privilege-info-items__content__item__child__description">
              <div class="privilege-info-items__content__item__child__description__title">MYR <span>@@My_Privilege.key_3</span></div>
              <div class="privilege-info-items__content__item__child__description__info" data-i18n="vip_page.Tier_upgrade_bonus">
                Tier upgrade bonus
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 privilege-info-items__content__item">
          <div class="privilege-info-items__content__item__child">
            <div class="privilege-info-items__content__item__child__img">
              <img src="assets/images/vip/privilege/my-privilege-4.png" />
            </div>
            <div class="privilege-info-items__content__item__child__description">
              <div class="privilege-info-items__content__item__child__description__title">MYR <span>@@My_Privilege.key_4</span></div>
              <div class="privilege-info-items__content__item__child__description__info" data-i18n="vip_page.Birthday_bonus">
                Birthday bonus
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 privilege-info-items__content__item">
          <div class="privilege-info-items__content__item__child">
            <div class="privilege-info-items__content__item__child__img">
              <img src="assets/images/vip/privilege/my-privilege-5.png" />
            </div>
            <div class="privilege-info-items__content__item__child__description">
              <div class="privilege-info-items__content__item__child__description__title">MYR <span>@@My_Privilege.key_5</span> <img data-bs-toggle="modal" data-bs-target="#vipInfoModal" src="assets/images/vip/icon-tips.png" width="10px" /></div>
              <div class="privilege-info-items__content__item__child__description__info" data-i18n="vip_page.Weekly_angpow">
                Weekly angpow
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-vip-details">
      <div class="my-vip-details__header" data-i18n="vip_page.My_VIP_Details">My VIP Details</div>
      <div class="my-vip-details__content row">
        <div class="my-vip-details__content__items col-4">
          <div class="my-vip-details__content__items__child">
            <div class="my-vip-details__content__items__child__title">@@My_VIP_Details.key_1</div>
            <div class="my-vip-details__content__items__child__description" data-i18n="vip_page.Sports_Events">Sports Events</div>
          </div>
        </div>
        <div class="my-vip-details__content__items col-4">
          <div class="my-vip-details__content__items__child">
            <div class="my-vip-details__content__items__child__title">@@My_VIP_Details.key_2</div>
            <div class="my-vip-details__content__items__child__description" data-i18n="vip_page.Live_Casino">Live Casino</div>
          </div>
        </div>
        <div class="my-vip-details__content__items col-4">
          <div class="my-vip-details__content__items__child">
            <div class="my-vip-details__content__items__child__title">@@My_VIP_Details.key_3</div>
            <div class="my-vip-details__content__items__child__description" data-i18n="vip_page.Slot_Machines">Slot Machines</div>
          </div>
        </div>
        <div class="my-vip-details__content__items col-4">
          <div class="my-vip-details__content__items__child">
            <div class="my-vip-details__content__items__child__title">@@My_VIP_Details.key_4</div>
            <div class="my-vip-details__content__items__child__description" data-i18n="vip_page.Fishing_Game">Fishing Game</div>
          </div>
        </div>
        <div class="my-vip-details__content__items col-4">
          <div class="my-vip-details__content__items__child">
            <div class="my-vip-details__content__items__child__title">@@My_VIP_Details.key_5</div>
            <div class="my-vip-details__content__items__child__description" data-i18n="vip_page.E_Sports">E-Sports</div>
          </div>
        </div>
        <div class="my-vip-details__content__items col-4">
          <div class="my-vip-details__content__items__child">
            <div class="my-vip-details__content__items__child__title">@@My_VIP_Details.key_6</div>
            <div class="my-vip-details__content__items__child__description" data-i18n="vip_page.Lottery_Game">Lottery Game</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>