<div id="privilegeInfo">
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '1',
        key_2: 'MYR <span>50,000</span>',
        key_3: '0',
        key_4: '0',
        key_5: '0'
      },
      My_VIP_Details: {
        key_1: '0.00%',
        key_2: '0.00%',
        key_3: '0.00%',
        key_4: '0.00%',
        key_5: '0.00%',
        key_6: '0.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '1',
        key_2: '50,000',
        key_3: '8',
        key_4: '8',
        key_5: '8'
      },
      My_VIP_Details: {
        key_1: '0.20%',
        key_2: '0.30%',
        key_3: '0.40%',
        key_4: '0.40%',
        key_5: '0.20%',
        key_6: '25.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '1',
        key_2: 'MYR <span>50,000</span>',
        key_3: '18',
        key_4: '18',
        key_5: '18'
      },
      My_VIP_Details: {
        key_1: '0.25%',
        key_2: '0.35%',
        key_3: '0.40%',
        key_4: '0.40%',
        key_5: '0.25%',
        key_6: '25.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '2',
        key_2: 'MYR <span>50,000</span>',
        key_3: '38',
        key_4: '38',
        key_5: '38'
      },
      My_VIP_Details: {
        key_1: '0.30%',
        key_2: '0.40%',
        key_3: '0.50%',
        key_4: '0.50%',
        key_5: '0.30%',
        key_6: '25.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '2',
        key_2: 'MYR <span>75,000</span>',
        key_3: '88',
        key_4: '88',
        key_5: '88'
      },
      My_VIP_Details: {
        key_1: '0.35%',
        key_2: '0.45%',
        key_3: '0.50%',
        key_4: '0.50%',
        key_5: '0.35%',
        key_6: '26.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '3',
        key_2: 'MYR <span>75,000</span>',
        key_3: '388',
        key_4: '388',
        key_5: '188'
      },
      My_VIP_Details: {
        key_1: '0.40%',
        key_2: '0.50%',
        key_3: '0.60%',
        key_4: '0.60%',
        key_5: '0.40%',
        key_6: '26.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '3',
        key_2: 'MYR <span>100,000</span>',
        key_3: '688',
        key_4: '688',
        key_5: '388'
      },
      My_VIP_Details: {
        key_1: '0.45%',
        key_2: '0.60%',
        key_3: '0.70%',
        key_4: '0.70%',
        key_5: '0.45%',
        key_6: '27.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '4',
        key_2: 'MYR <span>150,000</span>',
        key_3: '1088',
        key_4: '1088',
        key_5: '688'
      },
      My_VIP_Details: {
        key_1: '0.55%',
        key_2: '0.70%',
        key_3: '0.75%',
        key_4: '0.75%',
        key_5: '0.55%',
        key_6: '27.00%'
      }
    })
  </div>
  
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: '5',
        key_2: 'MYR <span>200,000</span>',
        key_3: '3888',
        key_4: '3888',
        key_5: '1088'
      },
      My_VIP_Details: {
        key_1: '0.60%',
        key_2: '0.80%',
        key_3: '0.80%',
        key_4: '0.80%',
        key_5: '0.60%',
        key_6: '28.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: 'Unlimited',
        key_2: 'Unlimited',
        key_3: '5888',
        key_4: '5888',
        key_5: '1888'
      },
      My_VIP_Details: {
        key_1: '0.70%',
        key_2: '0.90%',
        key_3: '0.85%',
        key_4: '0.85%',
        key_5: '0.70%',
        key_6: '29.00%'
      }
    })
  </div>
  
  <div>
    @@include('./privilege-content-info-item.html', {
      My_Privilege: {
        key_1: 'Unlimited',
        key_2: 'Unlimited',
        key_3: '13888',
        key_4: '13888',
        key_5: '5888'
      },
      My_VIP_Details: {
        key_1: '0.80%',
        key_2: '1.00%',
        key_3: '0.90%',
        key_4: '0.90%',
        key_5: '0.80%',
        key_6: '30.00%'
      }
    })
  </div>
  
</div>