<div class="privilege-content">
  <div class="privilege-content__head">
    <img class="privilege-content__head__bg" src="assets/images/vip/privilege-head-bg.png" />
    <div class="privilege-content__head__content">
      <img class="privilege-content__head__content__avatar" src="assets/icons/user-avatar.png" />
      <img src="assets/icons/vip0.png" />
      <div>username0808</div>
    </div>
  </div>
  <div class="privilege-content__card">
    @@include('./privilege-content-top.html')
  </div>
  <div class="privilege-content__info">
    @@include('./privilege-content-info.html')
  </div>
</div>