<div id="privilegeVipCard">
  <div>
    <div class="privilege-card vip0">
      <div class="privilege-card__current" data-i18n="vip_page.Current">Current</div>
      <div class="privilege-card__title" data-i18n="vip_page.VIP_0">VIP 0</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_0_sub_title">500 deposit and 3,000 realbet <br/> to upgrade to VIP 1</div>
      <div class="privilege-card__description">
        <div data-i18n="vip_page.VIP_0_description_1">Notice: Next 90 days renew on 2022-03-07    00:00:00</div>
        <div data-i18n="vip_page.VIP_0_description_2">500.00 deposit and 3000.00 realbet to go to VIP 1</div>
      </div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip1">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_1">VIP 1</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_1_sub_title">2,000 deposit and 12,000 realbet <br/> to upgrade to VIP 2</div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip2">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_2">VIP 2</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_2_sub_title">10,000 deposit and 60,000 realbet<br/>to upgrade to VIP 3</div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip3">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_3">VIP 3</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_3_sub_title">50,000 deposit and 300,000 realbet<br/>to upgrade to VIP 4</div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip4">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_4">VIP 4</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_4_sub_title">
        200,000 deposit and <br/> 1,200,000 realbet to upgrade to VIP 5
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip5">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_5">VIP 5</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_5_sub_title">
        500,000 deposit and <br/>3,000,000 realbet to upgrade to VIP 6  
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip6">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_6">VIP 6</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_6_sub_title">
        1,200,000 deposit and <br/>7,200,000 realbet to upgrade to VIP 7
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip7">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_7">VIP 7</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_7_sub_title">
        3,000,000 deposit and <br/>18,000,000 realbet to upgrade to VIP 8
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip8">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_8">VIP 8</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_8_sub_title">
        10,000,000 deposit and <br/>60,000,000 realbet to upgrade to VIP 9
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip9">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_9">VIP 9</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_9_sub_title">
        30,000,000 deposit and<br/>180,000,000 realbet to upgrade to VIP 10
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
  <div>
    <div class="privilege-card vip10">
      <div class="privilege-card__title" data-i18n="vip_page.VIP_10">VIP 10</div>
      <div class="privilege-card__sub_title" data-i18n="vip_page.VIP_10_sub_title">
        You have reached the top
      </div>
      <div class="privilege-card__description"></div>
    </div>
  </div>
</div>