<div class="deposit-amount__select-promotion" data-bs-toggle="modal" data-bs-target="#selectPromotionModal">
  <div class="deposit-amount__select-promotion__input">
    <div class="deposit-amount__select-promotion__input__label" data-i18n="Select_Promotion">Select Promotion</div>
    <div class="deposit-amount__select-promotion__input__placeholder" data-i18n="Please_select_available_promotion">Please select available promotion</div>
  </div>
  <img src="/images/wallet/deposit/right.png" />
</div>

<div class="deposit-amount__summary d-none">
  <div class="deposit-amount__summary__title" data-i18n="Deposit_Summary">Deposit Summary</div>
  <div class="deposit-amount__summary__content">
    <div class="row pb-3">
      <div class="col-6 fw-bold" data-i18n="Deposit_Method">Deposit Method:</div>
      <div class="col-6 text-primary">Online Banking</div>
    </div>
    <div class="row pb-3">
      <div class="col-6 fw-bold" data-i18n="Amount">Amount:</div>
      <div class="col-6 text-primary">MYR 500</div>
    </div>
    <div class="row pb-3">
      <div class="col-6 fw-bold" data-i18n="Promotion">Promotion:</div>
      <div class="col-6 text-primary">Welcome Bonus up to 180%</div>
    </div>
    <div class="deposit-amount__summary__content__sub">
      <div class="row pb-3">
        <div class="col-6 fw-bold" data-i18n="Bonus">Bonus:</div>
        <div class="col-6 text-primary">MYR 200</div>
      </div>
      <div class="row pb-3">
        <div class="col-6 fw-bold" data-i18n="Turnover">Turnover:</div>
        <div class="col-6 text-primary">x25</div>
      </div>
      <div class="row pb-3">
        <div class="col-6 fw-bold" data-i18n="Turnover_Requirement">Turnover Requirement:</div>
        <div class="col-6 text-danger">MYR 10,000</div>
      </div>
      <div class="fs-6">(Deposit + Bonus) x Turnover</div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade slide-up" id="selectPromotionModal" tabindex="-1" aria-labelledby="selectPromotionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#"  data-bs-dismiss="modal" aria-label="Close">Cancel</a>
        <h5 class="modal-title" id="selectPromotionModalLabel" data-i18n="Select_Promotion">Select Promotion</h5>
        <a href="#" class="opacity-0" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
      </div>
      <div class="modal-body select-promotion">
        <label class="select-promotion__items">
          <img src="/images/wallet/deposit/select-1.png" />
          <div class="select-promotion__items__content">
            <div class="select-promotion__items__content__text">
              <div class="d-flex justify-content-bettwen align-items-center mb-2">
                <div class="w-50">
                  <span class="text-primary">Bonus:</span> <strong>MYR500</strong>
                </div>
                <div class="w-50">
                  <span class="text-primary">Turnover:</span> <strong>x25</strong>
                </div>
              </div>
              <div>
                <span class="text-danger">Turnover requirement:</span> <strong>MYR25,000</strong>
              </div>
            </div>
            <div class="select-promotion__items__content__input">
              <input type="radio" name="select-promotion-radio" class="d-none"/>
              <span class="checkmark"></span>
            </div>
          </div>
        </label>

        <label class="select-promotion__items">
          <img src="/images/wallet/deposit/select-2.png" />
          <div class="select-promotion__items__content">
            <div class="select-promotion__items__content__text">
              <div class="d-flex justify-content-bettwen align-items-center mb-2">
                <div class="w-50">
                  <span class="text-primary">Bonus:</span> <strong>MYR500</strong>
                </div>
                <div class="w-50">
                  <span class="text-primary">Turnover:</span> <strong>x25</strong>
                </div>
              </div>
              <div>
                <span class="text-danger">Turnover requirement:</span> <strong>MYR25,000</strong>
              </div>
            </div>
            <div class="select-promotion__items__content__input">
              <input type="radio" name="select-promotion-radio" class="d-none"/>
              <span class="checkmark"></span>
            </div>
          </div>
        </label>

        <label class="select-promotion__items">
          <img src="/images/wallet/deposit/select-1.png" />
          <div class="select-promotion__items__content">
            <div class="select-promotion__items__content__text">
              <div class="d-flex justify-content-bettwen align-items-center mb-2">
                <div class="w-50">
                  <span class="text-primary">Bonus:</span> <strong>MYR500</strong>
                </div>
                <div class="w-50">
                  <span class="text-primary">Turnover:</span> <strong>x25</strong>
                </div>
              </div>
              <div>
                <span class="text-danger">Turnover requirement:</span> <strong>MYR25,000</strong>
              </div>
            </div>
            <div class="select-promotion__items__content__input">
              <input type="radio" name="select-promotion-radio" class="d-none"/>
              <span class="checkmark"></span>
            </div>
          </div>
        </label>

        <label class="select-promotion__items">
          <img src="/images/wallet/deposit/select-2.png" />
          <div class="select-promotion__items__content">
            <div class="select-promotion__items__content__text">
              <div class="d-flex justify-content-bettwen align-items-center mb-2">
                <div class="w-50">
                  <span class="text-primary">Bonus:</span> <strong>MYR500</strong>
                </div>
                <div class="w-50">
                  <span class="text-primary">Turnover:</span> <strong>x25</strong>
                </div>
              </div>
              <div>
                <span class="text-danger">Turnover requirement:</span> <strong>MYR25,000</strong>
              </div>
            </div>
            <div class="select-promotion__items__content__input">
              <input type="radio" name="select-promotion-radio" class="d-none"/>
              <span class="checkmark"></span>
            </div>
          </div>
        </label>

      </div>
    </div>
  </div>
</div>