<div class="withdrawal__content__bank-account mt-0">
  <div class="d-flex gap-2 mb-2">
    <div>
      <img src="assets/icons/crypto.svg">
    </div>
    <div>
      <div class="fw-bold mb-1">USDT - TRC20</div>
      <div class="mb-1" data-i18n="Withdrawl_Crypto_description"></div>
      <div data-i18n="Withdrawl_Crypto_description_1"></div>
    </div>
  </div>
  <div class="withdrawal__content__bank-account__items">
    <label class="withdrawal__content__bank-account__items__label">
      <div class="withdrawal__content__bank-account__items__label__content">
        <div class="withdrawal__content__bank-account__items__label__content__img">
          <img src="assets/icons/withdrawl-crypto.png" />
        </div>
        <div class="withdrawal__content__bank-account__items__label__content__title">TUnqYGSKgVoAsexQxMcBgjal123AYlm</div>
      </div>
      <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
      <span class="checkmark"></span>
    </label>

    <label class="withdrawal__content__bank-account__items__label">
      <div class="withdrawal__content__bank-account__items__label__content">
        <div class="withdrawal__content__bank-account__items__label__content__img">
          <img src="assets/icons/withdrawl-crypto.png" />
        </div>
        <div class="withdrawal__content__bank-account__items__label__content__title">TUnqYGSKgVoAsexQxMcBgjal123AYlm</div>
      </div>
      <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto"  checked="checked" />
      <span class="checkmark"></span>
    </label>

    <label class="withdrawal__content__bank-account__items__label">
      <div class="withdrawal__content__bank-account__items__label__content">
        <div class="withdrawal__content__bank-account__items__label__content__img">
          <img src="assets/icons/withdrawl-crypto.png" />
        </div>
        <div class="withdrawal__content__bank-account__items__label__content__title">TUnqYGSKgVoAsexQxMcBgjal123AYlm</div>
      </div>
      <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
      <span class="checkmark"></span>
    </label>
  </div>
  <a href="/wallet/add-wallet-address.html" class="withdrawal__content__bank-account__add-bank">
    <img src="assets/images/wallet/plus.png" /> <span data-i18n="add_wallet_address"></span>
  </a>
</div>

<div class="withdrawal__content__input">
  <div class="input-group">
    <span class="input-group-text left">MYR</span>
    <input type="number" class="form-control" id="withdrawal-input" data-i18n="wallet_page.withdrawal.Please_enter_withdrawal_amount" data-i18n-attr="placeholder"  />
    <span class="input-group-text right withdrawal-max-value"><img src="assets/images/wallet/max.png" style="width: 16px" /> <span data-i18n="wallet_page.withdrawal.Max">Max</span></span>
  </div>
  <div id="withdrawal-amount-input-label" class="text-danger mt-1" style="font-size: 11px; margin-left: 60px;"  data-i18n="Min_Max_Limit"></div>
</div>

<div class="withdrawal__content__input pt-0">
  <div class="input-group">
    <span class="input-group-text left">USDT</span>
    <input type="number" class="form-control" id="withdrawal-crypto-input" data-i18n="wallet_page.withdrawal.Please_enter_withdrawal_amount" data-i18n-attr="placeholder"  />
    <span class="input-group-text right withdrawal-max-value opacity-0"><img src="assets/images/wallet/max.png" style="width: 16px" /> <span data-i18n="wallet_page.withdrawal.Max">Max</span></span>
  </div>
  <div id="withdrawal-amount-input-label" class="text-danger mt-1" style="font-size: 11px; margin-left: 60px;"  data-i18n="Min_Max_Limit"></div>
</div>


<div class="withdrawal__content__submit">
  <button class="btn btn-primary withdrawal-submit" disabled data-bs-toggle="modal" data-bs-target="#withdrawalSuccessModal" data-i18n="SUBMIT">SUBMIT</button>
</div>