<div class="nav-expand">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle betting-record-dropdown" type="button" id="dropdownMenuDeposit" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="All">
      All
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuDeposit">
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="SABA_SPORTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="CMD368_SPORTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="M8BET_SPORTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="EVO_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="PT_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="SEXY_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="DG_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="EURO_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="AG_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="PP_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="SA_CLUB"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="PT_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="PP_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="SG_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="HABA_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="NE_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="CQ9_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="TIGER_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="MEGA_SLOTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="FISHING_GOD"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="FISHING_WAR"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="TF_GAMING"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="INPLAY_MATRIX"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="CMD368_ESPORTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="SABA_ESPORTS"></a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="4D_LOTTERY"></a>
      <!-- <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 1) {active}" data-i18n="All">All</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 2) {active}" data-i18n="IGKBET_SPORTS">IGKBET SPORTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 3) {active}" data-i18n="CMD368_SPORTS">CMD368 SPORTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 4) {active}" data-i18n="EVO_CLUB">EVO CLUB</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 5) {active}" data-i18n="PP_CLUB">PP CLUB</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 6) {active}" data-i18n="SEXY_CLUB">SEXY CLUB</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 7) {active}" data-i18n="DG_CLUB">DG CLUB</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 8) {active}" data-i18n="PP_SLOTS">PP SLOTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 9) {active}" data-i18n="QTECH_SLOTS">QTECH SLOTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 10) {active}" data-i18n="CQ_SLOTS">CQ SLOTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 11) {active}" data-i18n="TOKYO_KOMBAT">TOKYO KOMBAT</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 12) {active}" data-i18n="FISHING_GOD">FISHING GOD</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 13) {active}" data-i18n="VIRTUAL_SPORTS">VIRTUAL SPORTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 14) {active}" data-i18n="ESPORTS">ESPORTS</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 15) {active}" data-i18n="TF_GAMING">TF GAMING</a>
      <a href="/my-account/betting-record.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 16) {active}" data-i18n="4D_LOTTERY">4D LOTTERY</a> -->
      <div class="pb-2 w-100"></div>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle betting-record-dropdown" type="button" id="dropdownMenuDeposit" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="@@nav_expand_active_btn_text"></button>
    <div class="dropdown-menu w-auto" aria-labelledby="dropdownMenuDeposit">
      <a href="/my-account/betting-record-settled.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 17) {active}" data-i18n="Settled">Settled</a>
      <a href="/my-account/betting-record-unsettlement.html" class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 18) {active}" data-i18n="Unsettlement">Unsettlement</a>
      <div class="pb-2 w-100"></div>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle betting-record-dropdown" type="button" id="dropdownMenuLast7Days" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Last_7_Days">
      Last 7 Days
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLast7Days">
      <div class="description" data-i18n="betting_recore_you_may"></div>
      <button class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 19) {active}" data-i18n="Today">Today</button>
      <button class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 20) {active}" data-i18n="Last_7_Days">Last 7 Days</button>
      <button class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 21) {active}" data-i18n="Last_15_Days">Last 15 Days</button>
      <button class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 22) {active}" data-i18n="This_Month">This Month</button>
      <button class="btn btn-outline-secondary @@if(context.nav_expand_active_btn == 23) {active}" data-bs-toggle="collapse" href="#collapseCustomDate" data-i18n="Custom">Custom</button>
      <div class="pb-2 w-100"></div>
      <div class="collapse" id="collapseCustomDate">
        <div class="row">
          <label for="Start_Date" class="col-6 col-form-label" data-i18n="Start_Date">Start Date</label>
          <div class="col-6">
            <input type="text" class="form-control date-picker" id="Start_Date" value="2022-01-30">
          </div>
        </div>
        <div class="row">
          <label for="End_Date" class="col-6 col-form-label" data-i18n="End_Date">End Date</label>
          <div class="col-6">
            <input type="text" class="form-control date-picker" id="End_Date" value="2022-01-30">
          </div>
        </div>
        <div class="action">
          <a class="btn btn-cancel" data-bs-toggle="collapse" href="#collapseCustomDate" data-i18n="wallet_page.transaction-history.Cancel"></a>
          <a class="btn btn-confirm" href="/my-account/betting-record.html" data-i18n="wallet_page.transaction-history.Confirm"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-expand__description">
    <div class="">
      <div class="mb-2" data-i18n="description__Turnovers"></div>
      <div data-i18n="description__Realbet"></div>
    </div>
    <div class="text-end">
      <div class="mb-2" data-i18n="description__Bets"></div>
      <div data-i18n="description__Win_Lose"></div>
    </div>
  </div>
</div>