<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/1.png" />
  <span class="promotion_items__label vip" data-i18n="vip">vip</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title1"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description1"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>

<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/2.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title2"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description2"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>


<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/3.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title3"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description3"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>


<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/4.png" />
  <span class="promotion_items__label limited" data-i18n="limited">limited</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title4"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description4"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>


<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/5.png" />
  <span class="promotion_items__label vip" data-i18n="vip">vip</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title5"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description5"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>


<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/6.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title6"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description6"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>



<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/8.png" />
  <span class="promotion_items__label limited" data-i18n="limited">limited</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title7"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description7"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>

