<div class="promotion_items">
  <img class="promotion_items__img" src="./images/promotion/2.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title">Enjoy Extra Bonus On Top Of Your Winnings</div>
      <div class="promotion_items__content__text__subtitle">Long term promotion</div>
    </div>
    <a href="#" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>


<div class="promotion_items">
  <img class="promotion_items__img" src="./images/promotion/3.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title">UEFA Champions League Final</div>
      <div class="promotion_items__content__text__subtitle">Long term promotion</div>
    </div>
    <a href="#" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>
