<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/2.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title8"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description8"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>


<div class="promotion_items">
  <img class="promotion_items__img" src="assets//images/promotion/3.png" />
  <span class="promotion_items__label new" data-i18n="new">new</span>
  <div class="promotion_items__content">
    <div class="promotion_items__content__text">
      <div class="promotion_items__content__text__title" data-i18n="promotion_page.title9"></div>
      <div class="promotion_items__content__text__subtitle" data-i18n="promotion_page.description9"></div>
    </div>
    <a href="/promotion-inside.html" class="btn btn-sm btn-primary promotion_items__content__lean_more" data-i18n="lean_more">lean more</a>
  </div>
</div>
