<div class="total-nav row">
  <div class="total-nav__items col-6">
    <div data-i18n="AVAILABLE_CASH_REBATE"></div>
    <span>MYR 0.48</span>
  </div>
  <div class="total-nav__items col-6">
    <div data-i18n="bonus_history_page.Total_Claim"></div>
    <span>MYR 0.05</span>
  </div>
</div>
<div class="nav-expand justify-content-center">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#claimSuccessModal" data-i18n="bonus_history_page.Claim_Now"></button>
</div>

<div class="bonus-history">
  <div class="bonus-history__items pt-3">
    <div class="bonus-history__items__item row">
      <div class="bonus-history__items__item__left col-8">
        <div class="bonus-history__items__item__left__title" data-i18n="bonus_history_page.Cash_Rebate"></div>
        <div class="bonus-history__items__item__left__price">MYR30.00</div>
        <div class="bonus-history__items__item__left__description">2022-02-24 10:36:08</div>
      </div>
      <div class="bonus-history__items__item__right col-4">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#claimSuccessModal" data-i18n="bonus_history_page.Claim_Now"></button>
        <div class="bonus-history__items__item__right__description">DD924u421948928</div>
      </div>
    </div>
  
    <div class="bonus-history__items__item row">
      <div class="bonus-history__items__item__left col-8">
        <div class="bonus-history__items__item__left__title" data-i18n="bonus_history_page.VIP_Tier_Upgrade_Bonus"></div>
        <div class="bonus-history__items__item__left__price">MYR30.00</div>
        <div class="bonus-history__items__item__left__description">2022-02-24 10:36:08</div>
      </div>
      <div class="bonus-history__items__item__right col-4">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#claimSuccessModal" data-i18n="bonus_history_page.Claim_Now"></button>
        <div class="bonus-history__items__item__right__description">DD924u421948928</div>
      </div>
    </div>
  
    <div class="bonus-history__items__item row">
      <div class="bonus-history__items__item__left col-8">
        <div class="bonus-history__items__item__left__title" data-i18n="bonus_history_page.Birthday_Bonus"></div>
        <div class="bonus-history__items__item__left__price">MYR30.00</div>
        <div class="bonus-history__items__item__left__description">2022-02-24 10:36:08</div>
      </div>
      <div class="bonus-history__items__item__right col-4">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#claimSuccessModal" data-i18n="bonus_history_page.Claim_Now"></button>
        <div class="bonus-history__items__item__right__description">DD924u421948928</div>
      </div>
    </div>
  </div>
</div>
