<nav class="navbar fixed-bottom navbar-light">
  <div class="container-fluid content">
    <a href="/" class="nav-item @@if (context.active === 0) {active}">
      <div class="img" ><img src="./icons/footer-home.png" alt="" /></div>
      <div class="text" data-i18n="home">Home</div>
    </a>
    <a href="/wallet.html" class="nav-item @@if (context.active === 1) {active}">
      <div class="img"><img src="./icons/footer-wallet.png" alt="" /></div>
      <div class="text" data-i18n="wallet">Wallet</div>
    </a>
    <a href="/promotion.html" class="nav-item @@if (context.active === 2) {active}">
      <div class="img"><img src="./icons/footer-promotion.png" alt="" /></div>
      <div class="text" data-i18n="promotion">Promotion</div>
    </a>
    <a href="/sponsors.html" class="nav-item @@if (context.active === 3) {active}">
      <div class="img"><img src="./icons/footer-sponsors.png" alt="" /></div>
      <div class="text" data-i18n="sponsors">Sponsors</div>
    </a>
    <a href="/my-account.html" class="nav-item @@if (context.active === 4) {active}">
      <div class="img"><img src="./icons/footer-my-account.png" alt="" /></div>
      <div class="text" data-i18n="my_account">My Account</div>
    </a>
  </div>
</nav>