<!-- Modal -->
<div class="modal fade" id="selectLanguage" tabindex="-1" aria-labelledby="selectLanguageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectLanguageLabel" data-i18n="Choose_Region">Choose Region & Language</h5>
      </div>
      <div class="modal-body">

        <div class="row mb-4 choose-language" data-language="EN" role="button">
          <div class="col-4 text-center">
            <img src="/images/language/1.png" />
            <div class="title" data-i18n="universal_page.Malaysia"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span>English</span> |
            <span>中文</span> |
            <span>Bahasa Malaysia</span>
          </div>
        </div>

        <div class="row mb-4 choose-language" data-language="ZH" role="button">
          <div class="col-4 text-center">
            <img src="/images/language/2.png" />
            <div class="title" data-i18n="universal_page.Singapore"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span>English</span> |
            <span>中文</span>
          </div>
        </div>

        <div class="row mb-4 choose-language" data-language="" role="button">
          <div class="col-4 text-center">
            <img src="/images/language/3.png" />
            <div class="title" data-i18n="universal_page.Thailand"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span>ไทย</span> |
            <span>English</span>
          </div>
        </div>

        <div class="row mb-4 choose-language" data-language="VI" role="button">
          <div class="col-4 text-center">
            <img src="/images/language/4.png" />
            <div class="title" data-i18n="universal_page.Vietnam"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span>Tiếng Việt</span> |
            <span>English</span>
          </div>
        </div>

        <div class="row mb-2 choose-language" data-language="" role="button">
          <div class="col-4 text-center">
            <img src="/images/language/5.png" />
            <div class="title" data-i18n="universal_page.Indonesia"></div>
          </div>
          <div class="col-8 subtitle justify-content-start gap-2">
            <span>Bahasa Indonesia</span> |
            <span>English</span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>