<!-- Modal -->
<div class="modal fade" id="selectLanguage" tabindex="-1" aria-labelledby="selectLanguageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectLanguageLabel" data-i18n="Choose_Region">Choose Region & Language</h5>
      </div>
      <div class="modal-body">

        <div class="row mb-4 choose-language" role="button">
          <div class="col-4 text-center">
            <img src="./images/language/malaysia.png" />
            <div class="title" data-i18n="languages.malaysia">MALAYSIA</div>
          </div>
          <div class="col-7 subtitle">
            <span>English</span> |
            <span>简体中文</span>
          </div>
        </div>

        <div class="row mb-4 choose-language" role="button">
          <div class="col-4 text-center">
            <img src="./images/language/singapore.png" />
            <div class="title" data-i18n="languages.singapore">SINGAPORE</div>
          </div>
          <div class="col-7 subtitle">
            <span>English</span> |
            <span>简体中文</span>
          </div>
        </div>

        <div class="row mb-2 choose-language" role="button">
          <div class="col-4 text-center">
            <img src="./images/language/vietnam.png" />
            <div class="title" data-i18n="languages.vietnam">VIETNAM</div>
          </div>
          <div class="col-7 subtitle justify-content-start">
            <span>Tiếng Việt</span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>