.cryptocurrency-introduction {
  background-color: #f2f2f2; }
  .cryptocurrency-introduction__content__items {
    position: relative;
    background-color: #fff;
    padding: 40px 15px 15px 15px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: justify; }
    .cryptocurrency-introduction__content__items__title {
      background-image: url(/images/wallet/cryptocurrency-introduction/title-bg.png);
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      padding: 10px;
      background-size: contain;
      background-position: center center;
      margin-top: 0px;
      position: absolute;
      width: 100%;
      top: -5px; }
    .cryptocurrency-introduction__content__items__description {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      text-align: justify;
      color: #000000;
      margin-bottom: 15px; }
    .cryptocurrency-introduction__content__items__item1 {
      margin: 15px -8px 0 -8px; }
      .cryptocurrency-introduction__content__items__item1__content {
        padding-left: 5px;
        padding-right: 5px; }
        .cryptocurrency-introduction__content__items__item1__content > div {
          background: #FFFFFF;
          border: 1px solid #EEEEEE;
          box-sizing: border-box;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          padding: 20px 10px;
          height: 100%;
          text-align: center; }
          .cryptocurrency-introduction__content__items__item1__content > div .title {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #000000;
            margin: 10px 0;
            min-height: 35px;
            display: flex;
            place-items: center;
            place-content: center; }
          .cryptocurrency-introduction__content__items__item1__content > div .description {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            text-align: justify;
            color: #000000; }
    .cryptocurrency-introduction__content__items__item2__content {
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      background: #FFFFFF;
      place-items: center;
      margin-bottom: 15px;
      margin-left: 0;
      margin-right: 0; }
      .cryptocurrency-introduction__content__items__item2__content > div:last-child {
        padding: 15px 10px 15px 0;
        height: 100%; }
        .cryptocurrency-introduction__content__items__item2__content > div:last-child .title {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          margin-bottom: 10px; }
        .cryptocurrency-introduction__content__items__item2__content > div:last-child .description {
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          text-align: justify;
          color: #000000; }
          .cryptocurrency-introduction__content__items__item2__content > div:last-child .description ul {
            padding-left: 15px; }
            .cryptocurrency-introduction__content__items__item2__content > div:last-child .description ul li {
              padding-bottom: 5px; }
              .cryptocurrency-introduction__content__items__item2__content > div:last-child .description ul li:last-child {
                padding-bottom: 0; }
    .cryptocurrency-introduction__content__items ul {
      margin-bottom: 0; }
      .cryptocurrency-introduction__content__items ul li {
        padding-bottom: 15px; }
        .cryptocurrency-introduction__content__items ul li:last-child {
          padding-bottom: 0; }
