.universal {
  min-height: 100vh;
  max-width: var(--max-with-mobile);
  text-align: center;
  overflow: hidden; }
  .universal video {
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1; }
  .universal__content {
    display: flex;
    place-content: center;
    place-items: center;
    align-items: stretch;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    flex-direction: column;
    max-width: var(--max-with-mobile);
    left: 0; }
    .universal__content__logo img {
      max-width: 310px; }
    .universal__content__language {
      margin-top: 50px; }
      .universal__content__language__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 20px; }

.login {
  display: flex;
  place-content: center;
  place-items: center;
  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: #fff; }
  .login__logo {
    margin-bottom: 20px; }
    .login__logo img {
      max-width: 265px; }
  .login__logo1 {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 60px;
    margin-bottom: 65px; }
  .login__form {
    display: flex;
    min-height: 450px; }
    .login__form form {
      background: rgba(255, 255, 255, 0.4);
      border-radius: 10px 0 0 10px;
      padding: 20px;
      width: 100%; }
      .login__form form h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 30px; }
      .login__form form .input-group {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        border: none;
        min-height: 50px; }
        .login__form form .input-group .input-group-text {
          background-color: transparent;
          border: none;
          padding-left: 20px; }
        .login__form form .input-group .form-control {
          background-color: transparent;
          border: none;
          color: #ffffff; }
          .login__form form .input-group .form-control::placeholder {
            color: #ffffff; }
          .login__form form .input-group .form-control:focus {
            box-shadow: none; }
      .login__form form .form-check {
        display: flex;
        place-content: center;
        place-items: center;
        gap: 10px; }
        .login__form form .form-check .form-check-input {
          border-radius: 50%;
          margin-right: 0; }
        .login__form form .form-check .form-check-label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          align-items: center;
          color: #FFFFFF;
          padding-top: 2px; }
      .login__form form a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: none; }
      .login__form form .btn-login {
        background: rgba(89, 126, 247, 0.5);
        border-color: rgba(89, 126, 247, 0.5);
        border-radius: 30px;
        width: 100%;
        min-height: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        place-content: center;
        place-items: center; }
    .login__form__right-button {
      display: contents; }
      .login__form__right-button .register_link {
        display: flex;
        place-content: center;
        place-items: center;
        writing-mode: tb-rl;
        text-orientation: mixed;
        background: rgba(0, 0, 0, 0.4);
        border: none;
        border-radius: 10px 0px 0px 10px;
        transform: rotate(-180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        gap: 20px; }
        .login__form__right-button .register_link img {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg); }

@media only screen and (max-width: 425px) {
  .login {
    min-height: 100vh; }
    .login__logo {
      margin-bottom: 20px; }
      .login__logo img {
        max-width: 265px; }
    .login__logo1 {
      gap: 60px;
      margin-bottom: 65px; }
    .login__form {
      min-height: 450px; }
      .login__form form {
        border-radius: 10px 0 0 10px;
        padding: 15px;
        width: 100%; }
        .login__form form h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 30px; }
        .login__form form .input-group {
          border-radius: 30px;
          min-height: 45px; }
          .login__form form .input-group .input-group-text {
            padding-left: 15px; }
        .login__form form .form-check {
          gap: 10px; }
          .login__form form .form-check .form-check-input {
            border-radius: 50%;
            margin-right: 0; }
          .login__form form .form-check .form-check-label {
            font-size: 12px;
            line-height: 14px;
            padding-top: 2px; }
        .login__form form a {
          font-size: 12px;
          line-height: 14px; }
        .login__form form .btn-login {
          border-radius: 30px;
          width: 100%;
          min-height: 45px;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px; }
      .login__form__right-button .register_link {
        border-radius: 10px 0px 0px 10px;
        transform: rotate(-180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        gap: 20px; } }

.register {
  display: flex;
  place-content: center;
  place-items: center;
  background-image: url("../images/login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: #fff; }
  .register__logo {
    margin-bottom: 20px; }
    .register__logo img {
      max-width: 265px; }
  .register__logo1 {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 60px;
    margin-bottom: 65px; }
  .register__form {
    display: flex;
    min-height: 450px; }
    .register__form form {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 0px 10px 10px 0px;
      padding: 20px;
      width: 100%; }
      .register__form form.no-bg {
        background: transparent; }
      .register__form form h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 30px; }
      .register__form form h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 15px; }
      .register__form form .input-group {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 30px;
        border: none;
        min-height: 50px; }
        .register__form form .input-group .input-group-text {
          background-color: transparent;
          border: none;
          padding-left: 20px; }
          .register__form form .input-group .input-group-text:not(:first-child) {
            padding-right: 20px; }
        .register__form form .input-group .form-control {
          background-color: transparent;
          border: none;
          color: #ffffff; }
          .register__form form .input-group .form-control::placeholder {
            color: #ffffff; }
          .register__form form .input-group .form-control:focus {
            box-shadow: none; }
      .register__form form a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        text-decoration: none; }
      .register__form form .btn-login {
        background: rgba(89, 126, 247, 0.5);
        border: none;
        border-radius: 30px;
        width: 100%;
        min-height: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        place-content: center;
        place-items: center; }
      .register__form form .font-small {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF; }
    .register__form__left-button {
      display: contents; }
      .register__form__left-button .register_link {
        display: flex;
        place-content: center;
        place-items: center;
        writing-mode: tb-rl;
        text-orientation: mixed;
        background: rgba(255, 255, 255, 0.4);
        border: none;
        border-radius: 0px 10px 10px 0px;
        transform: rotate(-180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        gap: 20px; }
        .register__form__left-button .register_link img {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg); }
  .register.register-second {
    flex-direction: column; }
    .register.register-second .container-fluid {
      padding-top: 20px; }
    .register.register-second .customer-service {
      font-size: 14px;
      line-height: 14px;
      color: #FFFFFF;
      padding-top: 20px;
      text-decoration: none; }
  .register.register-thank-you .register__logo1 {
    margin-bottom: 40px; }
  .register.register-thank-you .register__form {
    padding-top: 0; }
  .register.register-thank-you h1 {
    font-family: 'Aldo the Apache', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#E5D6C3, #C9AF92);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .register.register-thank-you h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background: -webkit-linear-gradient(#E5D6C3, #C9AF92);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px; }
  .register.register-thank-you h5 {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 15px; }
  .register.register-thank-you .btn-login {
    background: #597ef7; }

@media only screen and (max-width: 425px) {
  .register {
    min-height: 100vh; }
    .register__logo {
      margin-bottom: 20px; }
      .register__logo img {
        max-width: 265px; }
    .register__logo1 {
      gap: 60px;
      margin-bottom: 65px; }
    .register__form {
      min-height: 450px; }
      .register__form form {
        border-radius: 10px 0 0 10px;
        padding: 15px;
        width: 100%; }
        .register__form form h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 30px; }
        .register__form form .input-group {
          border-radius: 30px;
          min-height: 45px; }
          .register__form form .input-group .input-group-text {
            padding-left: 15px; }
        .register__form form .form-check {
          gap: 10px; }
          .register__form form .form-check .form-check-input {
            border-radius: 50%;
            margin-right: 0; }
          .register__form form .form-check .form-check-label {
            font-size: 12px;
            line-height: 14px;
            padding-top: 2px; }
        .register__form form a {
          font-size: 12px;
          line-height: 14px; }
        .register__form form .btn-login {
          border-radius: 30px;
          width: 100%;
          min-height: 50px;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px; }
      .register__form__right-button .register_link {
        border-radius: 10px 0px 0px 10px;
        transform: rotate(-180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        gap: 20px; } }

.home__content {
  padding-top: 65px;
  padding-bottom: 65px; }
  .home__content #carouselHome .carousel-indicators {
    margin-bottom: 0; }
    .home__content #carouselHome .carousel-indicators > [data-bs-target] {
      width: 20px; }
  .home__content #carouselHome .carousel-inner {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; }
  .home__content .notification {
    display: flex;
    place-items: center;
    gap: 15px;
    padding: 15px 0; }
    .home__content .notification__sound {
      min-width: 20px; }
    .home__content .notification__hot-matches {
      min-width: 85px; }
    .home__content .notification .text-animated {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #000000;
      width: 100%;
      white-space: nowrap;
      overflow: hidden; }
      .home__content .notification .text-animated .text-overflow {
        word-wrap: none;
        position: relative; }
  .home__content .balance {
    display: flex;
    place-items: center;
    place-content: space-between;
    padding-bottom: 15px; }
    .home__content .balance__total {
      font-size: 12px;
      line-height: 14px;
      color: #000000; }
      .home__content .balance__total > div {
        display: flex;
        place-items: center;
        gap: 5px; }
      .home__content .balance__total h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 14px;
        color: #000000;
        margin-bottom: 0;
        margin-top: 5px; }
    .home__content .balance__icons {
      display: flex;
      place-items: center;
      place-content: space-between;
      gap: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      color: #000000; }
      .home__content .balance__icons > div {
        max-width: 40px; }
        .home__content .balance__icons > div > div {
          min-height: 36px; }
        .home__content .balance__icons > div p {
          margin-bottom: 0; }
  .home__content .home-game__nav {
    margin-left: -5px;
    margin-right: -5px; }
    .home__content .home-game__nav__item {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 15px; }
      .home__content .home-game__nav__item__link {
        display: flex;
        place-items: center;
        place-content: space-around;
        gap: 10px;
        background: #FFFFFF;
        border: 1px solid #A5D9FF;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(165, 217, 255, 0.3);
        border-radius: 10px;
        width: 100%;
        min-height: 60px;
        padding-left: 8px;
        padding-right: 8px;
        background-image: url(../icons/home/default-bg.png);
        background-repeat: no-repeat;
        background-position: top; }
        .home__content .home-game__nav__item__link__img img {
          min-width: 25px; }
          .home__content .home-game__nav__item__link__img img:last-child {
            display: none; }
        .home__content .home-game__nav__item__link__text {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
          text-transform: uppercase; }
        .home__content .home-game__nav__item__link.active {
          background-color: transparent;
          color: rgba(0, 0, 0, 0.5);
          background-image: url(../icons/home/active-bg.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
          .home__content .home-game__nav__item__link.active .home-game__nav__item__link__text {
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF; }
          .home__content .home-game__nav__item__link.active .home-game__nav__item__link__img img {
            min-width: 25px; }
            .home__content .home-game__nav__item__link.active .home-game__nav__item__link__img img:last-child {
              display: block;
              min-width: 35px; }
            .home__content .home-game__nav__item__link.active .home-game__nav__item__link__img img:first-child {
              display: none; }
  .home__content .home-game__content .home-item {
    position: relative;
    margin-bottom: 15px;
    border-radius: 15px; }
    .home__content .home-game__content .home-item__bg {
      width: 100%; }
    .home__content .home-game__content .home-item__official {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      height: 40px;
      display: flex;
      place-content: center;
      place-items: center;
      border-top-right-radius: 10px;
      overflow: hidden;
      width: 45px;
      height: 45px;
      background-image: url(../images/home/official-bg.png);
      background-repeat: no-repeat;
      background-size: cover; }
      .home__content .home-game__content .home-item__official span {
        transform: rotate(45deg);
        margin-top: -11px;
        margin-right: -11px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 8px;
        line-height: 16px; }
    .home__content .home-game__content .home-item__title-head {
      position: absolute;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      display: flex;
      place-content: center; }
      .home__content .home-game__content .home-item__title-head span {
        background-image: url(../images/home/title-head-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 5px 45px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
    .home__content .home-game__content .home-item__content {
      position: absolute;
      left: 15px;
      right: 40%;
      top: 15px;
      bottom: 15px;
      display: flex;
      place-content: center;
      place-items: flex-start;
      flex-direction: column; }
      .home__content .home-game__content .home-item__content__title {
        font-family: 'Aldo the Apache', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
        color: #9FAACA;
        margin-bottom: 13px; }
      .home__content .home-game__content .home-item__content__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #9FAACA; }
      .home__content .home-game__content .home-item__content__highest_return {
        background: linear-gradient(180deg, #7696FF 0%, #557BF7 100%);
        border-radius: 20px;
        padding: 6px 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF; }
      .home__content .home-game__content .home-item__content__play_now {
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #9FAACA;
        margin-top: 15px; }

@media only screen and (max-width: 425px) {
  .home__content {
    padding-top: 65px; }
    .home__content #carouselHome .carousel-indicators {
      margin-bottom: 0; }
      .home__content #carouselHome .carousel-indicators > [data-bs-target] {
        width: 20px; }
    .home__content #carouselHome .carousel-inner {
      border-radius: 10px; }
    .home__content .notification {
      gap: 15px;
      padding: 15px 0; }
      .home__content .notification__sound {
        min-width: 20px; }
      .home__content .notification__hot-matches {
        min-width: 85px; }
      .home__content .notification .text-animated {
        font-size: 14px;
        line-height: 14px; }
    .home__content .balance {
      padding-bottom: 15px; }
      .home__content .balance__total {
        font-size: 12px;
        line-height: 14px; }
        .home__content .balance__total > div {
          gap: 5px; }
        .home__content .balance__total h3 {
          font-size: 18px;
          line-height: 14px;
          margin-bottom: 0;
          margin-top: 5px; }
      .home__content .balance__icons {
        gap: 10px;
        font-size: 10px;
        line-height: 14px;
        color: #000000; }
        .home__content .balance__icons > div {
          max-width: 40px; }
          .home__content .balance__icons > div > div {
            min-height: 36px; }
          .home__content .balance__icons > div p {
            margin-bottom: 0; }
    .home__content .home-game__nav {
      margin-left: -5px;
      margin-right: -5px; }
      .home__content .home-game__nav__item {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 15px; }
        .home__content .home-game__nav__item__link {
          place-content: space-between;
          gap: 10px;
          box-shadow: 0px 2px 4px rgba(165, 217, 255, 0.3);
          border-radius: 10px;
          width: 100%;
          min-height: 53px;
          padding-left: 8px;
          padding-right: 8px; }
          .home__content .home-game__nav__item__link__img img {
            min-width: 25px; }
            .home__content .home-game__nav__item__link__img img:last-child {
              display: none; }
          .home__content .home-game__nav__item__link__text {
            font-size: 12px;
            line-height: 16px; }
          .home__content .home-game__nav__item__link.active .home-game__nav__item__link__text {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px; }
          .home__content .home-game__nav__item__link.active .home-game__nav__item__link__img img {
            min-width: 25px; }
            .home__content .home-game__nav__item__link.active .home-game__nav__item__link__img img:last-child {
              display: block;
              min-width: 30px;
              margin-left: -7px; }
            .home__content .home-game__nav__item__link.active .home-game__nav__item__link__img img:first-child {
              display: none; } }
