.wallet__content__tab {
  background: #EEEEEE;
  border-radius: 10px;
  flex-wrap: nowrap; }
  .wallet__content__tab__item__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #A5A9B3;
    border-radius: 9px !important;
    margin-bottom: 0;
    transition: .5s;
    position: relative;
    padding-left: 5px;
    padding-right: 5px; }
    .wallet__content__tab__item__link:hover, .wallet__content__tab__item__link:focus, .wallet__content__tab__item__link.active {
      background: #FFFFFF;
      margin-bottom: 0; }

.wallet__content__tab_content {
  padding: 20px 0; }
  .wallet__content__tab_content .wallet-items {
    margin-bottom: 20px; }
    .wallet__content__tab_content .wallet-items__title {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #000000;
      border-bottom: 2px solid #EEEEEE;
      padding-bottom: 15px;
      margin-bottom: 15px; }
    .wallet__content__tab_content .wallet-items__content h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      color: #000000; }
    .wallet__content__tab_content .wallet-items__content ul {
      padding-right: 15px;
      padding-left: 15px;
      list-style: auto; }
      .wallet__content__tab_content .wallet-items__content ul li {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        padding-bottom: 10px; }
        .wallet__content__tab_content .wallet-items__content ul li::marker {
          padding-right: 5px; }
