<!-- Modal -->
<div class="modal fade" id="customerAnnoucement" tabindex="-1" aria-labelledby="selectLanguageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectLanguageLabel" data-i18n="customer_annoucement_header">Choose Region & Language</h5>
      </div>
      <div class="modal-body">
        <div class="fw-normal" data-i18n="customer_annoucement_content"></div>
        <div class="pt-3 text-center">
          <button class="btn btn-lg btn-primary px-5" data-bs-dismiss="modal" data-i18n="OK"></button>
        </div>
      </div>
    </div>
  </div>
</div>