<div class="home-item">
  <img class="home-item__bg" src="./images/home/e-sports-1.png" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title">VIRTUAL SPORTS</h3>
    <span class="home-item__content__highest_return" data-i18n="highest_return">Highest Return <strong>1.18%</strong></span>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="./images/home/e-sports-2.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title">ESPORTS</h3>
    <div class="home-item__content__subtitle">Full complete Tournament <br/>info Available</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="./images/home/e-sports-3.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title">TF GAMING</h3>
    <div class="home-item__content__subtitle">Industry leading, Trustable <br/>and Reliable</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>