<div class="home-item">
  <img class="home-item__bg" src="./images/home/fishing-2.png" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.TOKYO_KOMBAT"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Make_every_shot"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="./images/home/fishing-1.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.FISHING_GOD"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Make_the_best"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>