<div class="home-item">
  <img class="home-item__bg" src="./images/home/fishing-2.png" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title">TOKYO KOMBAT</h3>
    <div class="home-item__content__subtitle">Make every shot counts! <br/> Whole new fishing game experience here!</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="./images/home/fishing-1.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title">FISHING GOD</h3>
    <div class="home-item__content__subtitle">Make the best shot and <br/> conquer the ocean!</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>