<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-1.png" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title"  data-i18n="home_page.EVO_CLUB"></h3>
    <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return"></span> <strong>1.18%</strong></span>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-2.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.PP_CLUB"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Interact_with_Live_dealers"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-3.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.SEXY_CLUB"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Beautiful_Live_Dealers"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-4.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title" data-i18n="home_page.DG_CLUB"></h3>
    <div class="home-item__content__subtitle" data-i18n="home_page.Never_the_same"></div>
    <button class="btn home-item__content__play_now" data-i18n="play_now"></button>
  </div>
</div>