<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-1.png" />
  <div class="home-item__official">
    <span  data-i18n="official">official</span>
  </div>
  <div class="home-item__content">
    <h3 class="home-item__content__title">EVO CLUB</h3>
    <span class="home-item__content__highest_return" ><span data-i18n="index.highest_return">Highest Return</span> <strong>1.18%</strong></span>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>


<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-2.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title">PP CLUB</h3>
    <div class="home-item__content__subtitle">Interact with Live dealers</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-3.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title">SEXY CLUB</h3>
    <div class="home-item__content__subtitle">Beautiful Live Dealers <br/> are waiting for you</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>

<div class="home-item">
  <img class="home-item__bg" src="./images/home/Live-Casino-4.png" />
  <div class="home-item__content">
    <h3 class="home-item__content__title">DG CLUB</h3>
    <div class="home-item__content__subtitle">Never the same <br/> experience as before</div>
    <button class="btn home-item__content__play_now" data-i18n="play_now">Play now</button>
  </div>
</div>