<ul class="nav nav-pills promotion-nav" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="promotion-all-tab"
      data-bs-toggle="pill"
      data-bs-target="#promotion-all"
      type="button"
      role="tab"
      aria-controls="promotion-all"
      aria-selected="true"
      data-i18n="promotion-all"
    >
      all
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="promotion-sports-tab"
      data-bs-toggle="pill"
      data-bs-target="#promotion-sports"
      type="button"
      role="tab"
      aria-controls="promotion-sports"
      aria-selected="false"
      data-i18n="promotion-sports"
    >
    sports
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="promotion-live-casino-tab"
      data-bs-toggle="pill"
      data-bs-target="#promotion-live-casino"
      type="button"
      role="tab"
      aria-controls="promotion-live-casino"
      aria-selected="false"
      data-i18n="promotion-live-casino"
    >
      live casino
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="promotion-e-sports-tab"
      data-bs-toggle="pill"
      data-bs-target="#promotion-e-sports"
      type="button"
      role="tab"
      aria-controls="promotion-e-sports"
      aria-selected="false"
      data-i18n="promotion-e-sports"
    >
      e-sports
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="promotion-lottery-tab"
      data-bs-toggle="pill"
      data-bs-target="#promotion-lottery"
      type="button"
      role="tab"
      aria-controls="promotion-lottery"
      aria-selected="false"
      data-i18n="promotion-lottery"
    >
      lottery
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="slots-tab"
      data-bs-toggle="pill"
      data-bs-target="#slots"
      type="button"
      role="tab"
      aria-controls="slots"
      aria-selected="false"
      data-i18n="promotion-slot"
    >
      slots
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="promotion-fishing-tab"
      data-bs-toggle="pill"
      data-bs-target="#promotion-fishing"
      type="button"
      role="tab"
      aria-controls="promotion-fishing"
      aria-selected="false"
      data-i18n="promotion-fishing"
    >
      fishing
    </button>
  </li>
</ul>
