<div class="vip-tab-content__card">
  <img class="vip-tab-content__card__bg" src="assets/images/vip/vip-info/content/@@vip_bg_name" />
  <div class="vip-tab-content__card__content">
    <div class="vip-tab-content__card__content__title" data-i18n="vip_page.VIP_@@vip_num">Vip @@vip_num</div>
    <div class="vip-tab-content__card__content__items">
      <div class="vip-tab-content__card__content__items__item">
        <span data-i18n="vip_page.Accumulated_Deposit">Accumulated Deposit</span>
        <span>@@Accumulated_Deposit</span>
      </div>
      <div class="vip-tab-content__card__content__items__item">
        <span data-i18n="vip_page.Turnover_Requirement">Turnover Requirement</span>
        <span>@@Turnover_Requirement</span>
      </div>
      <div class="vip-tab-content__card__content__items__item">
        <span data-i18n="vip_page.Maintenance_Turnover_Requirement">Maintenance Turnover Requirement</span>
        <span>@@Maintenance_Turnover_Requirement</span>
      </div>
    </div>
  </div>
</div>
<div class="vip-tab-content__bottom row">
  <div class="vip-tab-content__bottom__items col-6">
    <div class="vip-tab-content__bottom__items__item">
      <div class="vip-tab-content__bottom__items__item__title" data-i18n="vip_page.Tier_Upgrade_Bonus">Tier Upgrade Bonus:</div>
      <div class="vip-tab-content__bottom__items__item__price">MYR <span>@@Tier_Upgrade_Bonus</span></div>
      <div class="vip-tab-content__bottom__items__item__description" data-i18n="vip_page.Upgrade_redeem_manually">(Upgrade & redeem manually)</div>
    </div>
  </div>
  <div class="vip-tab-content__bottom__items col-6">
    <div class="vip-tab-content__bottom__items__item">
      <div class="vip-tab-content__bottom__items__item__title" data-i18n="vip_page.Weekly_Angpow">Weekly Angpow:</div>
      <div class="vip-tab-content__bottom__items__item__price">MYR <span>@@Weekly_Angpow</span></div>
      <div class="vip-tab-content__bottom__items__item__description" data-i18n="vip_page.Issued_on_Monday">Issued on Monday</div>
    </div>
  </div>
  <div class="vip-tab-content__bottom__items col-12">
    <div class="vip-tab-content__bottom__items__item">
      <div class="d-flex align-items-center justify-content-center gap-1">
        <div class="vip-tab-content__bottom__items__item__title mb-2" data-i18n="vip_page.Birthday_Bonus">Birthday Bonus:</div>
        <div class="vip-tab-content__bottom__items__item__price">MYR <span>@@Birthday_Bonus</span></div>
      </div>
      <div class="vip-tab-content__bottom__items__item__description" data-i18n="vip_page.Redeem_on">Redeem on 20th Oct 2022</div>
    </div>
  </div>
</div>