<div class="vip-description-items__head">
  <img src="assets/images/vip/vip-info/xiangqing.png" />
  <span data-i18n="vip_page.VIP_Withdrawal_Limit1">VIP Withdrawal Limit</span>
</div>

<table class="vip-description-items__table table table-bordered">
  <thead>
    <tr>
      <th class="text-warning" scope="col" data-i18n="vip_page.VIP_Level">VIP<br/>Level</th>
      <th scope="col" data-i18n="vip_page.Daily_Withdrawal_Limit">Daily Withdrawal Limit</th>
      <th scope="col" data-i18n="vip_page.Daily_Withdrawal_Amount">Live<br/>Casino</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">VIP0</th>
      <td>1</td>
      <td>MYR 50,000</td>
    </tr>
    <tr>
      <th scope="row">VIP1</th>
      <td>1</td>
      <td>MYR 50,000</td>
    </tr>
    <tr>
      <th scope="row">VIP2</th>
      <td>1</td>
      <td>MYR 50,000</td>
    </tr>
    <tr>
      <th scope="row">VIP3</th>
      <td>2</td>
      <td>MYR 50,000</td>
    </tr>
    <tr>
      <th scope="row">VIP4</th>
      <td>2</td>
      <td>MYR 75,000</td>
    </tr>
    <tr>
      <th scope="row">VIP5</th>
      <td>3</td>
      <td>MYR 75,000</td>
    </tr>
    <tr>
      <th scope="row">VIP6</th>
      <td>3</td>
      <td>MYR 100,000</td>
    </tr>
    <tr>
      <th scope="row">VIP7</th>
      <td>4</td>
      <td>MYR 150,000</td>
    </tr>
    <tr>
      <th scope="row">VIP8</th>
      <td>5</td>
      <td>MYR 200,000</td>
    </tr>
    <tr>
      <th scope="row">VIP9</th>
      <td>Unlimited</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <th scope="row">VIP10</th>
      <td>Unlimited</td>
      <td>Unlimited</td>
    </tr>
  </tbody>
</table>

<div class="vip-description-items__link">
  <a href="/vip/cash-rebate-rules.html" data-i18n="vip_page.View_Cash_Rebate_rules"></a>
</div>