<div class="vip-description-items__head">
  <img src="assets/images/vip/vip-info/xiangqing.png" />
  <span data-i18n="vip_page.VIP_Weekly_Angpow1">VIP Withdrawal Limit</span>
</div>

<table class="vip-description-items__table table table-bordered">
  <thead>
    <tr>
      <th class="text-warning" scope="col" data-i18n="vip_page.VIP_Level">VIP<br/>Level</th>
      <th scope="col" data-i18n="vip_page.Weekly_turnover_requirement">Weekly turnover <br/>requirement</th>
      <th scope="col" data-i18n="vip_page.VIP_Weekly_Angpow_Bonus">VIP Weekly <br/>Angpow Bonus</th>
      <th scope="col" data-i18n="vip_page.Turnover">Turnover</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">VIP0</th>
      <td>1,000</td>
      <td>MYR 0</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP1</th>
      <td>1,000</td>
      <td>MYR 8</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP2</th>
      <td>3,000</td>
      <td>MYR 18</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP3</th>
      <td>6,000</td>
      <td>MYR 38</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP4</th>
      <td>10,000</td>
      <td>MYR 88</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP5</th>
      <td>30,000</td>
      <td>MYR 188</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP6</th>
      <td>50,000</td>
      <td>MYR 388</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP7</th>
      <td>100,000</td>
      <td>MYR 688</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP8</th>
      <td>300,000</td>
      <td>MYR 1088</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP9</th>
      <td>500,000</td>
      <td>MYR 1888</td>
      <td>x5</td>
    </tr>
    <tr>
      <th scope="row">VIP10</th>
      <td>700,000</td>
      <td>MYR 5888</td>
      <td>x5</td>
    </tr>
  </tbody>
</table>

<div class="vip-description-items__link">
  <a href="/vip/cash-rebate-rules.html" data-i18n="vip_page.View_Cash_Rebate_rules"></a>
</div>