<div class="vip-terms">
  <div class="vip-terms__head">
    <span data-i18n="vip_page.VIP_Terms">VIP Terms & Conditions</span>
  </div>
  <div class="vip-terms__items">
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title1"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description1"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title2"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description2"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title3"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description3"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title4"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description4"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title5"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description5"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title6"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description6"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title7"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description7"></div>
    </div>
    <div class="vip-terms__items__content">
      <div class="vip-terms__items__content__title" data-i18n="vip_page.terms.title8"></div>
      <div class="vip-terms__items__content__description" data-i18n="vip_page.terms.description8"></div>
    </div>
  </div>

  <div class="vip-terms__description" data-i18n="vip_page.terms.description"></div>

  <div class="back-to-top">
    <a href="#vipPage" class="btn btn-default btn-back-to-top">
      <img src="assets/images/sponsors/article/hide.png" />
      <span data-i18n="Back_to_top">Back to top</span>
    </a>
  </div>
</div>